<%= form_for(@meeting, html: { class: 'pad4x dark' }) do |f| %>
  <%= content_tag :small, @meeting.errors.full_messages_for(:base).join(', '), class: 'error-message space-bottom' if @meeting.errors.include?(:base) %>
  <fieldset>
    <%= f.label :date %>
    <%= f.datetime_local_field :date, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :location %>
    <%= f.text_field :location, class: 'stretch' %>
  </fieldset>
  <div class='pad1y space-bottom4'>
    <%= f.submit nil, class: 'btn btn-primary btn-wide' %>
    <%= link_to 'Cancel', @meeting, class: 'btn btn-default' %>
  </div>
<% end %>
