<%= currently_at 'Talks' %>

<%= content_tag :p, class: 'space-bottom fill-green dark pad2' do %>
  <%= notice %>
<% end if notice %>

<header class='inset-header dark'>
  <div class='container-fluid contain clearfix'>
    <div>
      <h1>All Talks</h1>
      <p class='lead quiet'>Sirloin, ground round, fatback, lorem ipsum dolor sit amet</p>
      <ul class='actions pin-bottomright'>
        <% if current_user.admin? %>
          <li>
            <%= link_to 'New Session', new_meeting_path, class: 'btn btn-primary' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<div class='container-fluid contain pad4y'>
  <div class='contain clearfix' style='margin: -20px;'>
    <%= render @meetings %>
  </div>
  <%= paginate @meetings %>
</div>
