<%= currently_at 'Session' %>

<header class='inset-header dark'>
  <div class='container-fluid contain clearfix'>
    <div>
      <h1><%= @meeting.title %></h1>
      <p class='lead quiet'>
        <%= pluralize @meeting.talks.size, 'talk' %> &bull;
        <%= @meeting.location %> &bull;
        <%= @meeting.date.strftime('%B %e, %Y @ %l:%M %p %Z') %>
      </p>
      <ul class='actions pin-bottomright'>
        <% if current_user.admin? %>
          <li>
            <%= link_to 'Edit', edit_meeting_path(@meeting), class: 'btn btn-default' %>
          </li>
          <li>
            <%= link_to 'Destroy', @meeting,
                                   method: :delete,
                                   data: { confirm: 'Are you sure?' },
                                   class: 'btn btn-danger' %>
          </li>
        <% end %>
        <% if @meeting.date > Time.now %>
          <li>
            <%= link_to 'New Talk', new_meeting_talk_path(@meeting), class: 'btn btn-success' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<div class='container-fluid contain pad4y'>
  <div class='contain clearfix talks'>
    <%= render @talks %>
  </div>
</div>
