<%= currently_at 'Session' %>

<header class='inset-header dark'>
  <div class='container-fluid contain clearfix'>
    <div>
      <h1><%= @meeting.title %></h1>
      <p class='lead quiet'><%= pluralize @meeting.talks.size, 'talk' %></p>
      <ul class='actions pin-bottomright'>
        <% if current_user.admin? %>
          <li>
            <%= link_to 'Edit', edit_meeting_path(@meeting), class: 'btn btn-default' %>
          </li>
          <li>
            <%= link_to 'Destroy', @meeting, 
                                   method: :delete, 
                                   data: { confirm: 'Are you sure?' },
                                   class: 'btn btn-danger' %>
          </li>
          <li>
            <%= link_to 'New Talk for User', new_admin_meeting_talk_path(@meeting), class: 'btn btn-primary' %>
          </li>
        <% end %>
        <li>
          <%= link_to 'New Talk', new_meeting_talk_path(@meeting), class: 'btn btn-success' %>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class='container-fluid contain pad4y'>
  <div class='contain clearfix talks'>
    <%= render @talks %>
  </div>
</div>
