<%= form_for [@meeting, @talk] do |f| %>
  <% if @talk.errors.any? %>
    <div class='alert errors fill-light space-bottom'>
      <h4>There was a problem with your submission.</h4>
      <p>
        Errors have been <span class='danger'>highlighted</span> below.
      </p>
    </div>
  <% end %>

  <%= content_tag :small, @talk.errors.full_messages_for(:base).join(', '), class: 'error-message space-bottom' if @talk.errors.include?(:base) %>

  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :meeting %>
    <%= f.collection_select(:meeting_id, Meeting.where("date > ?", Date.today), :id, :title, selected: @meeting.id) %>
  </fieldset>
  <%= f.submit nil, class: 'btn btn-primary space-bottom' %>
<% end %>
