<%= form_for([@meeting, @talk], html: {
  class: 'edit-talk pad4x dark',
  data: {
    'form-data' => @s3_direct_post.fields,
    'url' => @s3_direct_post.url,
    'host' => URI.parse(@s3_direct_post.url).host
  }
  }) do |f| %>
  <% if @talk.errors.include?(:base) %>
    <%= content_tag :small, @talk.errors.full_messages_for(:base).join(', '),
                    class: 'error-message space-bottom' %>
  <% end %>
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :description %>
    <%= f.text_field :description, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :category %>
    <div class='input-group col-xs-12'>
      <%= f.select :category, [['Agile', 'agile'], ['Developer Tools', 'developer_tools'], ['Design', 'design'], ['Front-end', 'front_end'], ['Database', 'database'], ['Learning', 'learning'], ['News', 'news'], ['Miscellaneous', 'miscellaneous']], {}, { class: 'stretch' } %>
      <i class='icon icon-chevron-down'></i>
    </div>
  </fieldset>
  <fieldset>
    <%= f.label :overview %>
    <%= f.text_area :overview, class: 'stretch emojify', rows: 15 %>
    <a href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' class='small quiet pad0y' target='_blank'>Styling with markdown supported<i class='icon icon-new-window icon-sm'></i></a>
  </fieldset>
  <fieldset>
    <%= f.label :tag_list, 'Tags (up to 5)' %>
    <%= f.text_field :tag_list, class: 'stretch tagsinput',
                     value: f.object.tag_list.to_s %>
  </fieldset>
  <fieldset>
    <%= f.label :meeting %>
    <%= f.collection_select(:meeting_id,
                            meetings(@talk),
                            :id, :title, selected: @talk.meeting.id) %>
  </fieldset>
  <% if current_user.admin? %>
    <fieldset>
      <%= f.label :user %>
      <%= f.collection_select :user_id, User.order(last_name: 'asc'), :id, :full_name, selected: @talk.user_id,  prompt: true %>
    </fieldset>
  <% end %>

  <fieldset class='attachment-section'>
    <%= f.file_field :attachment, class: 'hidden' %>
    <button id='upload-slides' class='btn btn-default' type='button'>
      Upload slides
    </button>
    <div class='clearfix'>
      <p class='small quiet pad0y'>You can also drag and drop the file here</p>

      <div class='progress-bar hidden'>
        <div class='progress progress-success' style='width: 0%;'></div>
      </div>
    </div>
    <p class="file-info small pad0y">
      <%= attachment_name @talk.attachment %>
    </p>
  </fieldset>

  <div class='pad1y space-bottom4'>
    <%= f.submit nil, class: 'btn btn-primary btn-wide' %>
  </div>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'jquery.x.fileupload' %>
  <script>
    $(function () {
      onLoadEditTalkPage();
    });
  </script>
<% end %>
