<%= form_for([@meeting, @talk], html: { class: 'pad4x dark' }) do |f| %>
  <%= content_tag :small, @meeting.errors.full_messages_for(:base).join(', '), class: 'error-message space-bottom' if @talk.errors.include?(:base) %>
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :meeting %>
    <%= f.collection_select(:meeting_id, Meeting.where("date > ?", Date.today), :id, :title, selected: @meeting.id) %>
  </fieldset>
  <div class='pad1y space-bottom4'>
    <%= f.submit nil, class: 'btn btn-primary btn-wide' %>
    <%= link_to 'Cancel', meeting_talk_path(@meeting, @talk), class: 'btn btn-default' %>
  </div>
<% end %>
