<%= form_for @user, html: { class: 'pad4x dark' } do |f| %>

  <%= content_tag :small, @user.errors.full_messages_for(:base).join(', '), class: 'error-message space-bottom' if @user.errors.include?(:base) %>

  <fieldset>
    <%= f.label :username %>
    <%= f.text_field :username, class: 'stretch', disabled: true %>
  </fieldset>
  <fieldset class='col-sm-6 pad1r'>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'stretch' %>
  </fieldset>
  <fieldset class='col-sm-6 pad1l'>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :email %>
    <%= f.text_field :email, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :bio, 'Short bio' %>
    <%= f.text_field :bio, class: 'stretch' %>
  </fieldset>
  <fieldset class='gravatar_edit'>
    <%= avatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </fieldset>
  <div class='pad1y space-bottom4'>  
    <%= f.submit 'Save Changes', class: 'btn btn-primary space-bottom' %>
  </div>
<% end %>
