<%= currently_at 'Members' %>

<header class='inset-header dark'>
  <div class='container-fluid contain clearfix'>
    <div>
      <h1>Bacon ipsum dolor amet hamburger capicola</h1>
      <p class="lead quiet">Sirloin, ground round, fatback, lorem ipsum dolor sit amet</p>
      <ul class='actions pin-bottomright'>
        <li>
          <%= link_to 'See all talks', meetings_path, class: 'btn btn-success' %>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class='container-fluid contain'>
  <nav class='space-bottom4 dark tabs'>
    <%= tab_link 'Everyone',
                 users_path,
                 class: 'active',
                 data: { toggle: 'tab',
                         remote: true,
                         tab: 'everyone' } %>
    <%= tab_link 'Speakers',
                 speakers_path,
                 data: { toggle: 'tab',
                         remote: true,
                         tab: 'speakers' } %>
  </nav>

  <ul class="fill-white pad3 users round space-bottom4">
    <%= render partial: 'user', collection: @users %>
  </ul>
</div>
