<%%= form_for(@<%= singular_table_name %>) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div class='alert errors fill-light space-bottom'>
      <h4>There was a problem with your submission.</h4>
      <p>
        Errors have been <span class='danger'>highlighted</span> below.
      </p>
    </div>
  <%% end %>

  <%%= content_tag :small, @<%= singular_table_name %>.errors.full_messages_for(:base).join(', '), class: 'error-message space-bottom' if @<%= singular_table_name %>.errors.include?(:base) %>

<% attributes.each do |attribute| -%>
  <fieldset>
<% if attribute.password_digest? -%>
    <%%= f.label :password %>
    <%%= f.password_field :password, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%%= f.label :password_confirmation %>
    <%%= f.password_field :password_confirmation, class: 'stretch' %>
<% else -%>
  <%- if attribute.reference? -%>
    <%%= f.label :<%= attribute.column_name %> %>
    <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'stretch' %>
  <%- else -%>
    <%%= f.label :<%= attribute.name %> %>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'stretch' %>
  <%- end -%>
<% end -%>
  </fieldset>
<% end -%>
  <%%= f.submit nil, class: 'btn btn-primary space-bottom' %>
<%% end %>