<%= currently_at 'User' %>

<h2 class='space-bottom1'><%= @user.full_name %></h2>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'View all', admin_users_path %>
